<div class="menu">
  <ul>
    <li><a [routerLink]="['Home']">Home</a></li>
    <li><a [routerLink]="['AddLek']">Dodaj Leki</a></li>
    <li><a [routerLink]="['AddType']">Dodaj Typ</a></li>
  </ul>
</div>
<div class="section">
  <div class="wew_section">
<h1>Dodaj Typ leku</h1>

   <!-- <form (ngSubmit)="AddType(name.value)">
    <table>
      <tr>
        <td>Type:</td><td><input type="text" #name placeholder="Podaj Typ..." required></td>
        <td>
          <div *ngIf="serverAnswer" class="error_message">
              {{serverAnswer.error}}
          </div>
        </td>
      </tr>
    </table>
    <button type="submit">Dodaj Typ</button>
  </form> -->

  <form [ngFormModel]="myForm" (ngSubmit)="AddType(name.value)">
    <table>
      <tr>
        <td>
          <input type="text" #name [ngFormControl]="myVal">
        </td>
        <td>
          <div *ngIf="myVal.hasError('required')">Value required</div>
          <div *ngIf="myVal.hasError('valerror')">Ta nazwa jest nie poprawna</div>
        </td>
        <td>
          <div *ngIf="serverAnswer" class="error_message">
            {{serverAnswer.error}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button [disabled]="myVal.hasError('valerror') ===true || myVal.hasError('required') === true" type="submit">Submit</button>
        </td>
      </tr>
    </table>
  </form>

<div id="test2">
  <table style="border-style:solid; border-width: 2px;">
    <tr><td>Name</td><td>Manage</td></tr>
    <tr *ngFor="#Typ of typs" >
      <form style="margin:0px;"(ngSubmit)="UpdateTyp(name.value,Typ._id)">
        <td>
          <input type="text" #name value='{{Typ.name}}' required>
        </td>
        <td>
          <button type="submit">Edit</button>
        </td>
      </form>
      <td>
        <button type="submit"(click)="removeTyp(Typ.name)">Delete</button>
      </td>
    </tr>
  </table>
</div>
</div>
</div>
